{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

<div style="background-color: blueviolet;padding: 50px;" class="container-fluid text-center rounded-top">
    <h1><a style="color: cornsilk;" href="{% url 'docentes:docente_list' %}">Docentes</a></h1>
</div>
<form  method="post">{% csrf_token %}
    {{ form|bootstrap }}
    <input class="btn btn-primary" type="submit" value="Salvar" />
    <a class="btn btn-danger" href="{% url 'docentes:docente_list' %}">voltar</a>
</form>


{% endblock %}
