{% extends "base.html" %}

{% block content %}

<!-- <a href="{% url 'books_cbv:book_list' %}">Class Based Views</a><br>
<a href="{% url 'books_fbv:book_list' %}">Function Based Views</a><br>
<a href="{% url 'books_fbv_user:book_list' %}">Function Based Views with User Access</a><br>
    -->
<div style="background-color: blueviolet;padding: 50px;" class="container-fluid text-center rounded">
  <h1 style="color: cornsilk;">
    SISTEMA DE GERENCIAMENTO DE PLANO DE AULA
  </h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
</div>



<div class="container">
  <div class="row">
    <a class="btn btn-dark col-4" href="{% url 'Plan_aula:plan_list' %}">PLANO DE AULA</a>
    <a class="col-4"</a>
    <a class="btn btn-dark col-4" href="{% url 'docentes:docente_list' %}">DOCENTES</a>
  </div>
</div>

{% endblock %}
