{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div style="background-color: blueviolet;padding: 50px;" class="container-fluid text-center rounded-top">
    <h1><a style="color: cornsilk;" href="{% url 'Plan_aula:plan_list' %}">Planos de aula</a></h1>
</div>
<div class="container">
    <form method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Salvar" />
        <a class="btn btn-danger" href="{% url 'Plan_aula:plan_list' %}">Voltar</a>
    </form>
</div>

{% endblock %}
