{% extends "base.html" %}

{% block content %}

<div style="background-color: blueviolet;padding: 50px;" class="container-fluid text-center rounded-top">
    <h1><a style="color: cornsilk;" href="{% url 'Plan_aula:plan_list' %}">Planos de aula</a></h1>
</div>
<div>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
</div>
<div class="container"></div>
    <table class="table table-striped" border="1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User id</th>
            <th scope="col">Unidade Curricular</th>
            <th scope="col">Evento</th>
            <th scope="col">CH</th>
            <th scope="col">Objetivo</th>
            <th scope="col">Docente</th>
            <th scope="col">Editar</th>
            <th scope="col">Itens</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for plana in object_list %}
        <tr>
            <td>{{ plana.user.id }}</td>
            <td>{{ plana.uc }}</td>
            <td>{{ plana.evento }}</td>
            <td>{{ plana.ch }}</td>
            <td>{{ plana.obj }}</td>
            <td>{{ plana.docente }}</td>
            <td><a class="btn btn-primary" href="{% url 'Plan_aula:plan_edit' plana.id %}">Editar</a></td>
            <td><a class="btn btn-primary" href="{% url 'Plan_aula:itemP:itemp_list' plana.id %} ">Itens</a></td>
            <td><a class="btn btn-primary" href="{% url 'Plan_aula:plan_delete' plana.id %} ">Del</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="container">
    <a class="btn btn-primary"  href="{% url 'Plan_aula:plan_new' %}">Novo</a>
    <a class="btn btn-danger"  href="{% url 'home' %}">voltar</a>
</div>
{% endblock %}
